#pageContainer{
    height: 100%;

    & .fadeWrapper:first-of-type{
        height: 100%;
    }
    & .fadeWrapper{
        flex: 1;
    }
    & .tableContainer{
        height: 100%;
        display: flex;
        flex-direction: column;

        & .tabpanel{
            flex: 1;
            height: 100%;

            & .MuiPaper-root:first-of-type{
                height: 100%;
                display: flex;
                flex-direction: column;
            }
    
            & .MuiTableContainer-root{
                flex: 1;
                flex-basis: 0;
            }
        }

        
    }
}